@model AboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Açıklamayı Giriniz</label>
                                <textarea rows="5" class="form-control" asp-for="Description" id="Description"></textarea>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="Details">Detay Giriniz</label>
                                    <input type="text" class="form-control" asp-for="Details" id="Details">
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="Birthday">Doğum Günü Giriniz</label>
                                        <input type="date" class="form-control" asp-for="Birthday" id="Birthday">
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="Age">Yaş Giriniz</label>
                                            <input type="number" class="form-control" asp-for="Age" id="Age">
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="Email">Mail Giriniz</label>
                                                <input type="email" class="form-control" asp-for="Email" id="Email">
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="Phone">Telefon Giriniz</label>
                                                    <input type="number" class="form-control" asp-for="Phone" id="Phone">
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="Location">Konum Giriniz</label>
                                                        <input type="text" class="form-control" asp-for="Location" id="Location">
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="Degree">Derece Giriniz</label>
                                                            <input type="text" class="form-control" asp-for="Degree" id="Degree">
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label for="WebUrl">GithubUrl Giriniz</label>
                                                                <input type="text" class="form-control" asp-for="WebUrl" id="WebUrl">
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-group">
                                                                    <label for="ImageUrl">ImageUrl Giriniz</label>
                                                                    <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                                                                </div>

                                                                <div class="card-body">
                                                                    <div class="form-group">
                                                                        <label for="Title">Status Giriniz</label>
                                                                        <input type="button" class="form-control" asp-for="Status" id="Title">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light ml-2">Hakkımda Ekle</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
