@model AboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Hakkımda Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title">
                            </div>
                        </div>
                        <input type="hidden" asp-for="AboutId" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Description">Açıklama Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description" id="Description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Details">Detay Giriniz</label>
                                <input type="text" class="form-control" asp-for="Details" id="Details">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Birthday">Doğum Tarihi Giriniz</label>
                                <input type="date" class="form-control" asp-for="Birthday" id="Birthday">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Age">Yaşınızı Giriniz</label>
                                <input type="number" class="form-control" asp-for="Age" id="Age">
                            </div>
                        </div>
                         <div class="card-body">
                            <div class="form-group">
                                <label for="Phone">Telefon Giriniz</label>
                                <input type="number" class="form-control" asp-for="Phone" id="Phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Email">Mail Giriniz</label>
                                <input type="email" class="form-control" asp-for="Email" id="Email">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Details">Detay Giriniz</label>
                                <input type="text" class="form-control" asp-for="Details" id="Details">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="WebUrl">GithubUrl Giriniz</label>
                                <input type="text" class="form-control" asp-for="WebUrl" id="WebUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">ImageUrl Giriniz</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Status">Durum Giriniz</label>
                                <input type="text" class="form-control" asp-for="Status" id="Status">
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-primary">Hakkımda Güncelle</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




