<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend_Adm</title>
    @* @await Component.InvokeAsync("_AdminHeaderComponentPartial") *@
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/ready.css">
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/demo.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/Frontend_Adm.styles.css" />
</head>

<body>

    <div class="wrapper">
    @await Component.InvokeAsync("_AdminSideBarComponentPartial")
    @await Component.InvokeAsync("_AdminNavBarComponentPartial")

        <div class="main-panel">
               @*  @await Component.InvokeAsync("_AdminHomePageComponentPartial") *@
                @RenderBody()
            </div>      
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
@await Component.InvokeAsync("_AdminScriptComponentPartial")
</body>

@await Component.InvokeAsync("_AdminFooterComponentPartial")

</html>
