
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UILayoutHeaderComponentPartial")

<body class="index-page">

    @await Component.InvokeAsync("_UILayoutHeadComponentPartial")
    <main class="main">
        @RenderBody()
    </main>
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

    <script src="~/js/site.js"></script>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @{
        var currentPath = HttpContextAccessor.HttpContext.Request.Path;
    }
</body>
</html>
