<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" asp-append-version="true">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/vendors/mdi/css/materialdesignicons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/vendors/css/vendor.bundle.base.css" asp-append-version="true">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/vendors/jvectormap/jquery-jvectormap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/vendors/flag-icon-css/css/flag-icon.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/vendors/owl-carousel-2/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/vendors/owl-carousel-2/owl.theme.default.min.css" asp-append-version="true">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/corona-free-dark-bootstrap-admin-template-1.0.0/assets/images/favicon.png" />
</head>