@model ToDoListDto
@{
    ViewData["Title"] = "CreateToDoList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Yapılacak Görev Girişi</h4>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Görev</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Görevi Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Tarih</label>
                                <input type="date" class="form-control" id="exampleInputDescription" asp-for="Date" placeholder="Tarihi Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputStatus">Durum</label>
                                <input type="button" class="form-control" id="exampleInputStatus" asp-for="Status" placeholder="Durum Bilgisini Giriniz">
                            </div>

                            <button type="submit" class="btn btn-success waves-effect waves-light ml-2" name="status" value="completed">Yapıldı</button>
                            <button type="submit" class="btn btn-danger waves-effect waves-light ml-2" name="status" value="not_completed">Yapılmadı</button>
                            <br />
                            <br />

                            <button type="submit" class="btn btn-primary waves-effect waves-light ml-2">Görevi Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


