@model ToDoListDto
@{
    ViewData["Title"] = "CreateToDoList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Yapılacak Görev Girişi</h4>
                        <p class="card-subtitle mb-4">Yeni Görev girişini aşağıdaki panelden yapabilirsiniz.</p>

                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Görev</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Title" placeholder="Görevi Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Tarih</label>
                                <input type="date" class="form-control" id="exampleInputDescription" asp-for="Date" placeholder="Tarihi Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputImageUrl">Durum</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="Status" placeholder="Durum Bilgisini Giriniz">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Görevi Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


