
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>My education and work experience are included in this section.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Education</h3>

                <div class="resume-item pb-0">
                    <h4>Mehmet Akif Ersoy University</h4>
                    <h5>Information Systems and Technologies</h5>
                    <h6>2021 - 2025</h6>
                    <p>I hold a Bachelor's degree in Information Systems and Technologies. During my studies, I received education in various fields, including web design, mobile programming, databases, machine learning, cryptology, finance and programming languages.</p>
                    
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Emine Konukoglu High School</h4>
                    <h5>2016 - 2020</h5>
                    <p><em>I completed my high school education here.</em></p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Merinos</h4>
                    <h5>Intern (2025-present)</h5>
                    <ul>
                        <li>During my internship, I am gaining education and experience in areas such as C#, Flutter, Network Technologies, and ReactJs.</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Freelancer</h4>                 
                    <ul>
                        <li>As a freelancer, I design and develop websites using C# and ASP.NET Core.</li>
                        
                    </ul>
                </div><!-- Edn Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
